body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 24px;
}

.custom-table th:nth-child(2),
.custom-table td:nth-child(2) {
    width: 20%; /* 2列目の幅を20%に設定 */
}

.custom-table th:nth-child(3),
.custom-table td:nth-child(3) {
    width: 20%; /* 3列目の幅を20%に設定 */
}

#turn-info {
    margin: 10px 0;
}

.custom-table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 60%;
}

.custom-table th, .custom-table td {
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
}

.custom-table thead {
    background-color: #555;
    color: white;
}

.custom-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* 総合得点のテーブルスタイル */
.total-score {
    margin-top: 20px; /* 上の表との間隔 */
    border: 3px double black; /* 二重線の罫線 */
    border-collapse: collapse;
}

.total-score td:first-child {
    text-align: center; 
    font-weight: bold; /* 太字にする */
}

.dice-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.dice {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #333;
    cursor: pointer;
    user-select: none;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
}

.dice.held {
    background-color: #ffc400;
    border-color: #000000;
}

button {
    margin-left: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

#winner-display {
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 20px;
    background-color: #28a745;  /* 勝者の背景色を緑に */
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
