body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

.custom-table {
    width: auto;
    border-collapse: collapse;
    text-align: left;
    margin: 50px auto; /* 上下に50pxのスペース、左右中央配置 */
    border: 1px solid #000;
    position: relative; /* 相対位置に設定 */
    right: 250px; /* 中央から20px右に移動 */
}

.custom-table th,
.custom-table td {
    border: 2px solid #003366;
    padding: 5px 10px;
    text-align: center; /* セル内を中央揃え */
    white-space: nowrap;
}

.custom-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.custom-table td {
    text-align: left;
}

.custom-table tr:nth-child(even) {
    background-color: #E3E8EA;
}

.custom-table tr:nth-child(odd) {
    background-color: #ECF0F1; /* 奇数行の背景色を設定 */
}

.custom-table tr:nth-child(6) {
    background-color: #7F8C98; /* 合計行の背景色 */
}

.custom-table tr:nth-child(7) {
    background-color: #7F8C98; /* ボーナス行の背景色 */
}

.custom-table tr:hover {
    background-color: #f1f1f1;
}

.total td {
    color: #ffffff; /* 合計行の文字色を赤に */
}

.bonus td {
    color: #ffffff; /* ボーナス行の文字色を青に */
}

/* 各列の幅を固定 */
.custom-table td:nth-child(1), .custom-table th:nth-child(1) {
    width: 100px; /* 1列目の幅を固定 */
}

.custom-table td:nth-child(2), .custom-table th:nth-child(2) {
    width: 70px; /* 2列目の幅を固定 */
}

.custom-table td:nth-child(3), .custom-table th:nth-child(3) {
    width: 70px; /* 3列目の幅を固定 */
}
